/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-cursor {
    cursor: pointer;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100% !important;
}

.m-0-auto {
    margin: 0px auto;
}

.scrollable-y-container {
    overflow-y: scroll;
    height: auto;
}

.scrollable-hidden::-webkit-scrollbar {
    display: none;
}