<div class="container">
  <h3 class="text-white mt-3">Hello, Admin!</h3>
  <p class="text-white">Save energy with our product</p>
</div>

<div class="row">
  <div class="row p-0 m-0-auto">
    <div *ngFor="let item of result" class="col-md-6">
      <div class="morphi card text-center h-100">
        <div class="card-header text-white">Device</div>
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title title-highlight">Optimize for {{ item.name }}</h5>
            <p class="card-text text-light fs-6 fw-light">
              {{ item.message }}.
            </p>
          </div>

          <div>
            <p class="card-text text-light fs-6 mb-3 fw-light">
              ({{ item.result }}kwh/2000kwh)
            </p>
            <button
              class="btn btn-primary"
              (click)="handleSetTime()"
            >
              {{status1 ? status1 : "Accept Optimization"}}
            </button>
          </div>
        </div>
        <div class="card-footer text-white fs-bold">Base on our statistics, We suggest the time from <b>{{item.duration.startAt}}</b> to <b>{{item.duration.endAt}}</b> everyday to turn off the device and save your energy</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="toastTrigger" class="toast d-block position-absolute top-0 end-0 m-3"role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header" style="background-color: #000; ">
    <strong class="me-auto title-highlight">Notification</strong>
    <small>Setting time successfull!</small>
    <button type="button" style="color: #D1F248" class="btn-close" (click)="closeToast()">X</button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>
