<div class="container m-3">
  <div class="row">
    <div *ngFor="let item of result" class="col col-3">
      <div class="basic-card basic-card-dark">
        <div class="card-content">
          <span *ngIf="item.result > 2000" class="card-title">{{ item.name }} - Alert</span>
          <span *ngIf="item.result <= 2000" class="card-title">{{ item.name }} - Status</span>
          <p class="card-text">
            {{ item.message }}
            ({{ item.result }}kwh/2000kwh)
          </p>
        </div>
        <div class="card-link" *ngIf="item.result > 2000">
          <a href="#" title="Read Full"><span>Action</span></a>
        </div>
      </div>
    </div>

  </div>
</div>
